#home-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1607324772107-8ad6740ca195?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: Calc(67vh - 64px);
  width: 100vw;
  min-width: 1280px;
}

#home-splash-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgb(255, 255, 255);
  /* height: 150px; */
  /* width: 1100px; */
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.274);
}

#home-splash-header > h1 {
  font-size: 100px;
}

#home-splash-header > button {
  background: none;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.219);
  color: white;
  height: 75px;
  width: 200px;
}

#home-splash-header > button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
