.note {
  display: grid;
  grid-template-columns: 108px 1fr;
  grid-template-rows: fit-content;
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.note-icons {
  position: absolute;
  left: -20px;
  top: -8px;
  display: flex;
  flex-direction: column;
}

.note:first-of-type {
  border-top: 1px solid #ccc;
  overflow-wrap: break-word;
}

.note-author {
  grid-column: 1;
}

.note-note {
  grid-column: 2;
  overflow-wrap: break-word;
  /* black magic below */
  /* overflow: hidden; */
  min-width: 0;
}

.note-author-wrapper {
  position: relative;
}

.note-trash {
  margin-bottom: 10px;
}

.note-trash:hover {
  color: red;
  cursor: pointer;
}

.note-edit:hover {
  color: turquoise;
  cursor: pointer;
}
