#navbar-navbar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 64px;
  box-sizing: border-box;
  border-bottom: 1px solid #222;
}

#navbar-navbar button {
  padding: 5px;
  background-color: white;
  color: #222;
  border: none;
}

#navbar-navbar button:hover {
  color: white;
  border-radius: 4px;
  background-color: #222;
}


#navbar-navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#navbar-home-link {
  position: absolute;
  left: 100px;
}

#navbar-right-links {
  position: absolute;
  right: 100px;
  max-width: fit-content;
}

#navbar-right-links > li {
  margin-left: 50px;
}
